<div class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1 class="m-0 text-dark">Parametre</h1>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Parametre</li>
              </ol>
          </div>
      </div>
  </div>
</div>
<section class="content  ">
  <div class="card card-pink card-outline ">
      <div class="card-body mat-elevation-z8 ">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="list-group">
              <a class="list-group-item" routerLink="/viewFichierComponent">
                <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-file"></i>&nbsp;&nbsp;Fichier</h4>
                <p class="list-group-item-text">Paramétrage du fichier de paiement </p>
              </a>
              <a class="list-group-item" href="#/accounts_closure">
                <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-database"></i>&nbsp;&nbsp; Extractions
                </h4>

                <p class="list-group-item-text">Extraction des tables de la base de donnée</p>
              </a>
            </div>

          </div>
          <div class="col-sm-6 col-md-6">
            <div class="list-group">
              <a class="list-group-item" routerLink="/ViewUtilisateur">
                <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-users"></i>&nbsp;&nbsp;Utilisateurs</h4>
                <p class="list-group-item-text">Gestion des utilisateurs</p>
              </a>
              <a class="list-group-item" routerLink="/ouverture/fermeture">
                <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-lock"></i>&nbsp;&nbsp;
                  Ouverture/Fermeture</h4>

                <p class="list-group-item-text">Gestion des horaires d'ouverture et de fermeture des sessions</p>
              </a>
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>