<section class="content">
    <!-- <mat-accordion> -->
        <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
        <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Information du paiement
                </mat-panel-title>

            </mat-expansion-panel-header> -->

            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            N°
                        </th>

                        <th style="width: 30%">
                            Agent
                        </th>
                        <th style="width: 30%">
                            Guichet
                        </th>
                        <th style="width: 30%">
                            Pensionnaire
                        </th>
                        <th style="width: 8%">
                            Montant
                        </th>
                        <th style="width: 8%">
                            Fichier
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                {{evenement}}
                            </a>
                            <br />
                            <small>
                                {{dateCreation}}
                            </small>
                        </td>
                        <td>
                            <a>
                                {{num}}
                            </a>
                            <br />
                            <small>
                                {{nom}}
                            </small>
                        </td>
                        <td>
                            <a>
                                {{numGuichet}}
                            </a>
                            <br />
                            <small>
                                {{libelleGuichet}}
                            </small>
                        </td>

                        <td>
                            <a>
                                {{matriculePensionnaire}}
                            </a>
                            <br />

                        </td>
                        <td class="project-state">
                            {{ montant}}
                        </td>
                        <td class="project-state">
                            {{ datePaiement}}
                        </td>

                    </tr>

                </tbody>
            </table>
        <!-- </mat-expansion-panel>
    </mat-accordion> -->
    
</section>