table {
    width: 100%;
  }
  .green{
    background: #CAD402!important;
    color:#fff;
  }
  .trait{
    color: #fff;
  }
  .add {
    background: #fff;
    color:#CAD402 ;
  }
  td {
font-weight: 500; 
 }
//   .example-button-container {
//     display: flex;
//     justify-content: center;
//     width: 120px;
//     size: 10px;
//   }



// .container {
//   .action-button {
//     margin-left: auto;
//   }
//   .search-button {
//     min-width: 30px;
//     margin: 4px;
//   }
// }

// table {
//   tr.select-row:hover {
//     cursor: pointer;
//     color: #CAD402;
//   }
//   tr:nth-child(odd).td{
//     color : black;
//   }
// }

.card-1{
  border-color: #CAD402;
  background-color: red;
}