<pf-dropdown hide-arrow [hidden]="totalMessage <= 0">
    <div slot="button">
        <a class="nav-link">
            <!-- <i class="far fa-bell">jggjj</i> -->
            <i class="far fa-comments"></i>
            <span class="badge badge-warning navbar-badge">{{totalMessage}} </span>
        </a>
    </div>
    <div slot="menu">
        <span class="dropdown-item dropdown-header"> {{totalMessage}} Demandes</span>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="openDialog(GetDemande(premiere))" >
            <i class="fas fa-money-bill mr-2"></i>  {{premiere?.paiement}}
            <span class="float-right text-muted text-sm"> {{premiere?.date}} </span>
        </a>
        <div [hidden]="deuxieme?.length <= 0">   
            <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="openDialog(GetDemande(deuxieme))" >
            <i class="fas fa-money-bill mr-2"></i> {{deuxieme?.paiement}}
            <span class="float-right text-muted text-sm"> {{deuxieme?.date}} </span>
        </a>
        </div>
        <div class="dropdown-divider"></div>
       <div [hidden]="troisieme?.length <= 0">
        <a class="dropdown-item " (click)="openDialog(GetDemande(troisieme))" >
            <i class="fas fa-money-bill mr-2"></i> {{troisieme?.paiement}}
            <span class="float-right text-muted text-sm">{{troisieme?.date}}</span>
        </a>
       </div>
        <div [hidden]="totalMessage <= 1" >
            <div class="dropdown-divider"></div>
        <a class="dropdown-item dropdown-footer" routerLink="/listenotification"
            >Voir tous les Notifications</a
        >
        </div>
       
    </div>
    
</pf-dropdown>
